#renewable
      |     Year: {{renewableByYear.Year}} 
      br
      |     Solar: {{renewableByYear["Solar (quadrillion Btu)"]}}
      br
      |     Geothermal: {{renewableByYear["Geothermal (quadrillion Btu)"]}}
      br
      |     Other biomass: {{renewableByYear["Other biomass (quadrillion Btu)"]}}
      br
      |     Wind power: {{renewableByYear["Wind power (quadrillion Btu)"]}}
      br
      |     Liquid biofuels: {{renewableByYear["Liquid biofuels (quadrillion Btu)"]}}
      br
      |     Wood biomass: {{renewableByYear["Wood biomass (quadrillion Btu)"]}}
      br
      |     Hydropower: {{renewableByYear["Hydropower (quadrillion Btu)"]}}