doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    script(src="components/jquery/dist/jquery.js")
    script(src="components/bootstrap/dist/js/bootstrap.js")
    script(src="components/angular/angular.js")
    script(src="components/angular-route/angular-route.js")
    script(src="javascripts/app.js")
    script(src="javascripts/main.js") 
    script(src="javascripts/about.js")
    script(src="javascripts/renewables-utils.js")
    script(src="javascripts/simple-format-page.js")
    script(src="spec/data/json-as-js-renewables.js")
  body(data-ng-app="elfApp")
    block content
