p This is home

button.btn.btn-primary(ng-click="getRenewable()") Energy Renewable

div
    label
        | Number:
        input(type='number', name='input', ng-model='index', min='0', max='10', required='')

hr

elf-renewable