p This is renewable by year

button.btn.btn-primary(ng-click="getRenewableByYear()") Renewable by Year

div
    label
        | Display Record:
        input(type="number", data-ng-model="userYearInput" data-ng-change="yearChange()" min='2007' max='2017' placeholder='2013')

hr

elf-renewable-by-year
