#renewablebyyear
  |     First: {{renewable-By-Year.Year}}
  br
  |     Solar: {{renewableByYear[index]["Solar (quadrillion Btu)"]}}
  br
  |     Geothermal: {{renewableByYear[index]["Geothermal (quadrillion Btu)"]}}
  br
  |     Other biomass: {{renewableByYear[index]["Other biomass (quadrillion Btu)"]}}
  br
  |     Wind power: {{renewableByYear[index]["Wind power (quadrillion Btu)"]}}
  br
  |     Liquid biofuels: {{renewableByYear[index]["Liquid biofuels (quadrillion Btu)"]}}
  br
  |     Wood biomass: {{renewableByYear[index]["Wood biomass (quadrillion Btu)"]}}
  br
  |     Hydropower: {{renewableByYear[index]["Hydropower (quadrillion Btu)"]}}