#renewablebyyear
    |     First: {{renewableByYear[index].first}}
    br
    |     Solar: {{renewableByYear[index].solar}}
    br
    |     Geothermal: {{renewableByYear[index].geo}}
    br
    |     Other biomass: {{renewableByYear[index].other}}
    br
    |     Wind power: {{renewableByYear[index].wind}}
    br
    |     Liquid biofuels: {{renewableByYear[index].liquid}}
    br
    |     Wood biomass: {{renewableByYear[index].wood}}
    br
    |     Hydropower: {{renewableByYear[index].hydropower}}
                 