extends layout
block content
  nav.navbar-inverse.navbar-fixed-top
    .container
      navbar-header
        ul.nav.nav-pills
          li(ng-class="{ active: isActive('/')}")
            a(ng-href='#/') Home
          li(ng-class="{ active: isActive('/about')}")
            a(ng-href='#/about') About
            
  .container
  h1= title
  p Welcome to #{title}

  div(data-ng-view="")
  