div#marie
    p
        span.caption First
        | : {{marie.firstName}}
    p
        span.caption Last
        | : {{marie.lastName}}
    p
        span.caption City
        | : {{marie.city}}
        