div#getRenewable
    p
        span.caption Year
        | : {{getRenewable.year}}
    p
        span.caption Solar
        | : {{getRenewable.Solar}}
    p
        span.caption Geothermal
        | : {{getRenewable.Geothermal}}
    p
        span.caption Other biomass
        | : {{getRenewable.Other biomass}}    
    p
        span.caption Wind power
        | : {{getRenewable.Wind power}}
    p
        span.caption Liquid biofuels
        | : {{getRenewable.Liquid biofuels}}
    p
        span.caption Wood biomass
        | : {{getRenewable.Wood biomass}}
    p
        span.caption Hydropower
        | : {{getRenewable.Hydropower}}
   