extends layout

block content
  h1= title
  p Welcome to #{title}

  div(data-ng-controller="MainController")
    p {{scopeData}}
    p{{getNine()}}
    
    hr
    bar

    hr
    div(elf-marie='')
    hr
    div
        elf-marie
    hr
    elf-marie